<div>
  <.flash_group flash={@flash} />
  <div class={"bg-[url(#{~p</images/cat.jpg>})] w-full"}>
    <div class="bg-cover items-center text-center">
      <h1 class="text-9xl py-20">Welcome to Reciper</h1>
      <h2 class="text-3xl">Here you can find the real Recipes to help you!</h2>
    </div>
  </div>
</div>